extends _defaultPage

block link
    link(rel="stylesheet", href="./css/style.css")

block body
    div#demo
    img(src="./images/1.jpeg", alt="")
    img(src="./images/2.jpeg", alt="")
    img(src="./images/a.png", alt="")

block script
    script(src="./js/SearchImg.js")
    script(src="./js/main.js")
